.body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    size: 16px;
    background-color: var(#ffffff);
    
    text-decoration-color: #434455;
}
:root
{  --Iris: #4d5ae5
    --OCEAN: #404BBF
    --Navy-blue: #2E2F42
    --GREEN: #31D0AA
    --Slate: #434455
    --Light-Slate: #8E8F99
    --Cornflower: #E7E9FC
    --Cloud: #F4F4FD
    --NAVY-BLUE-modal: #2E2F42
    --Gray: #2E2F42
    --White: #FFFFFF
    --Dairy: #FCFCFC
}
.list
{
    list-style: none;
}
.logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}
.link
{
    text-decoration: none;
}
.link:hover
{
    color: var( #4D5AE5);}
.link:active
{
     color:  #4D5AE5;}
.link:focus
{
    color: var(#4D5AE5);}
.studio-logo
{
   color: #2E2F42;
}
.order-button{
    border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
}
.order-button:hover{border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.first.section{}
.first-header{}
.second-header
{
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
}
.nav-link{}
.second-section{}
.third-section{}
.fourth-section{}
.footer
{
    background-color: #2e2f42;
    color: var(#F4F4FD);
}
.header-third{}
.footer-paragraph
{color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.list-paragraph {

}
.filter-button
{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--Iris);
    background-color: var(--cloud);
}
.filter-button:hover{
    color: var(--white);
    background-color: var(--OCEAN, #404BBF);
}
.filter-button:focus{
    color: var(--white);
    background-color: var(--OCEAN, #404BBF);
}